<script>
    $(function() {
        var $aboutMeForm = $('#aboutMe');

        //定义FormOptions
        var submitFormOptions = {
            url : '/about/save',
            type : 'POST',
            success : function(data) {
                //跟据状态判断是否保存成功
                if (data.status == '0') {
                    toastr.success(Message.save_success);
                    //重新加载基本信息（刷新）
                    loadAboutMeContent();
                    loadHomeContent();
                    //关闭编辑窗口
                    closeEditContentWindow();
                } else {
                    toastr.error(Message.save_fail + data.data);
                }
            },
            error : function(context, xhr) {
                toastr.error(Message.save_fail + context.responseText);
            }
        };

        //保存
        $aboutMeForm.find('.save-btn').click(function(e) {
            //输入有效性验证
            var isValid = $aboutMeForm.validationEngine('validate', {
                scroll : false,
                autoHidePrompt : true,
                // 自定义错误提示
                custom_error_messages : {}
            });
            // 校验不通过不提交到后台
            if (!isValid) {
                return false;
            }

            //提交ajax form请求
            $aboutMeForm.ajaxSubmit(submitFormOptions);
        })

        //初始化日期选择插件
        $aboutMeForm.find('.date-picker').datepicker({
            language : language,
            format : 'yyyy-mm-dd',
            orientation : 'bottom auto',
            autoclose : true
        });
    });
</script>
<form id="aboutMe" name="aboutMe" method="post">
	<input type="hidden" name="id" th:value="${aboutMe.id}"/>
	<div class="form-group col-md-4">
		<!-- 姓名 -->
		<label for="name"><span th:text="#{about.me.name}"></span>：</label>
		<input type="text" name="name" th:value="${aboutMe.name}" class="form-control" maxlength="100" placeholder="..." required="required" autofocus="autofocus" />
	</div>
	<div class="form-group col-md-4">
		<!-- 性别 -->
		<label><span th:text="#{about.me.gender}"></span>：</label>
		<div>
			<label class="radio-inline"> 
				<input type="radio" name="gender" value="Male" th:if="${aboutMe.gender == 'Male'}" checked="checked" />
				<input type="radio" name="gender" value="Male" th:if="${aboutMe.gender == 'Female'}" />
				<span th:text="#{about.me.gender.male}"></span>
			</label> 
			<label class="radio-inline"> 
				<input type="radio" name="gender" value="Female" th:if="${aboutMe.gender == 'Male'}" />
				<input type="radio" name="gender" value="Female" th:if="${aboutMe.gender == 'Female'}" checked="checked" />
				<span th:text="#{about.me.gender.female}"></span>
			</label>
		</div>
	</div>
	<div class="form-group col-md-4 date">
		<!-- 生日 -->
		<label for="birthday">
		<span th:text="#{about.me.birthday}"></span>：</label>
		<input type="text" name="birthday" th:value="${aboutMe.birthdayStr}" class="form-control date-picker" maxlength="100" placeholder="..." required="required" readonly="true" />
	</div>
	<div class="form-group col-md-4">
		<!-- 教育程度 -->
		<label for="educationDegreeId">
		<span th:text="#{about.me.education.degree}"></span>：</label>
		<select id="educationDegreeId" name="educationDegree.id" class="form-control">
			<option th:each="ed:${educationDegrees}" th:value="${ed.id}" th:text="${ed.name}">
			</option>
		</select>
	</div>
	<div class="form-group col-md-4">
		<!-- 工作年限 -->
		<label for="workingYears">
		<span th:text="#{about.me.working.years}"></span>：</label>
		<input type="text" th:value="${aboutMe.workingYears}" name="workingYears" class="form-control" maxlength="100" placeholder="..." required="required" />
	</div>
	<div class="form-group col-md-4">
		<!-- 工作状态 -->
		<label for="workingStatusId">
		<span th:text="#{about.me.working.status}"></span>：</label>
		<select id="workingStatusId" name="workingStatus.id" class="form-control">
			<option th:each="ws:${workingStatus}" th:value="${ws.id}" th:text="${ws.name}"></option>
		</select>
	</div>
	<div class="form-group col-md-4">
		<!-- 居住地 -->
		<label for="residence">
		<span th:text="#{about.me.residence}"></span>：</label>
		<input type="text" th:value="${aboutMe.residence}" name="residence" class="form-control" maxlength="200" placeholder="..." required="required" />
	</div>
	<div class="form-group col-md-4">
		<!-- 邮件 -->
		<label for="email">
		<span th:text="#{about.me.email}"></span>：</label>
		<input type="text" th:value="${aboutMe.email}" name="email" class="form-control" maxlength="100" placeholder="..." required="required" />
	</div>
	<div class="form-group col-md-4">
		<!-- 手机 -->
		<label for="mobile">
		<span th:text="#{about.me.mobile}"></span>：</label>
		<input type="text" th:value="${aboutMe.mobile}" name="mobile" class="form-control" maxlength="50" placeholder="..." required="required" />
	</div>
	<div class="form-group col-md-12">
		<!-- 人生格言 -->
		<label for="motto">
		<span th:text="#{about.me.motto}"></span>：</label>
		<input type="text" th:value="${aboutMe.motto}" name="motto" class="form-control" maxlength="300" placeholder="..." required="required" />
	</div>
	<div class="edit-panel-footer col-md-12">
		<!-- 保存 -->
		<button type="button" class="btn btn-primary save-btn">
			<i class="fa fa-floppy-o"></i>
			<span th:text="#{button.save}"></span>
		</button>
		<!-- 取消 -->
		<button type="button" class="btn btn-default cancel-btn">
			<i class="fa fa-times"></i>
			<span th:text="#{button.cancel}"></span>
		</button>
	</div>
</form>
