<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.shixun.project.mapper.EducationDegreeDaoMyBatis">
	<select id="getAllEducationDegrees" resultType="EducationDegreeEntity">
		SELECT
			id,
			name,
			language,
			createTime
		FROM 
		    t_education_degree
		WHERE
		    language=#{language}
	</select>

</mapper>