<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.shixun.project.mapper.WorkingStatusDaoMyBatis">
	<select id="getAllWorkingStatus" resultType="WorkingStatusEntity">
		SELECT
			id,
			name,
			language,
			createTime
		FROM 
		    t_working_status
		WHERE
		    language=#{language}
	</select>

</mapper>